body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(192, 232, 196);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.barra-superior {
    background-color: rgb(241, 156, 110);
    justify-content: space-between;
    gap: 20px;
    padding: 13px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin: 0;
    margin-bottom: 15px;
}

.logo {
    width: 120px;
}

.buscador input {
    padding: 6px;
}

.barra-superior input {
    padding: 5px;
    border: 2px solid rgb(104, 104, 104);
}

.barra-botones {
    background-color: rgb(117, 228, 219);
    border: 2px solid black;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.barra-botones button {
    padding: 10px 20px;
    border: 2px solid black;
}

.mapa {
    display: flex;
    justify-content: center;
}

.mapa img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 2px solid black;
}

.cuadro1 {
    background-color: rgb(221, 222, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 25px;
    margin: 30px auto;
    width: 90%;
    max-width: 1100px;
}

.cuadro1 img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;

}

.texto {
    width: 70%;
}

.texto h3 {
    color: rgb(0, 0, 0);
    padding: 5px;
} 

.footer {
    background: rgb(43, 43, 43);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 100px;
}

.barra-superior,
.barra-botones,
.mapa,
.cuadro1 {
    width: 85%;
    max-width: 1000px;
    margin: 20px auto;
}

.btn-inicio {
    padding: 9px 20px;
    font-size: 15px;
    font-weight: bold;
}